.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 2px solid #ccc;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
li {
  margin: 20px;
}
a {
  font-size: 24px;
}
